useDynLib(DeMixT, .registration = TRUE)
export(DeMixT)
export(DeMixT_S1)
export(DeMixT_S2)
export(Optimum_KernelC)
import(KernSmooth) 
import(SummarizedExperiment) 
import(knitr)
import(parallel)
importFrom("matrixStats", "rowSds")
importFrom("stats", "quantile")