useDynLib(DeMixT, .registration = TRUE)
export(DeMixT)
export(DeMixT_DE)
export(DeMixT_S2)
export(DeMixT_GS)
export(simulate_2comp)
export(simulate_3comp)
export(Optimum_KernelC)
import(KernSmooth) 
import(rmarkdown)
import(SummarizedExperiment) 
import(matrixcalc)
import(knitr)
import(parallel)
import(Rcpp)
import(ggplot2)
import(base64enc)
importFrom("matrixStats", "rowSds")
importFrom("stats", "quantile")
importFrom(Rcpp, evalCpp)
importFrom("stats", "qnorm", "rnorm", "sd", 
           "runif", "rbinom", "IQR")